.app {
  margin: 10px;
  background: rgb(192, 45, 75);
  border: 11px solid darkgreen;
  text-align: center;
}
.texStyle {
  color: hsl(214, 89%, 11%);
  font-size: 360%;
}
.fonstyle {
  font-size: 150%;
  font-weight: 600;
}
.boldstyle {
  font-size: 300%;
  font-weight: 500;
}
.buttton {
  margin: "5px";
}
